{%extends "pythonweb.html"%}
{%block content%}
<style>
    .profile {
        width: 35%;
        margin: auto;
    }
    .llogo{
    width: 120px;
    height: 120px;
    margin: 3% 0 3% 0;
    }

    .prolang .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
    }

    .prolang:hover .tooltiptext {
    visibility: visible;
    }

</style>
    <div class="profile">
      <h2 style="font-weight: bold;">Hello</h2>
      <p>I'm currently on my second year in Computer Science of my Bachelor degree.
      </p>
    </div>
    <div class="row" style="width: 82%; margin: auto;">
      <div class="col-md-4">
        <div class="prolang">
          <img class="llogo" src="static/c-language.png" alt="">
          <span class="tooltiptext">Programming Language - C</span>
        </div>

      </div>
      <div class="col-md-4">
        <div class="prolang">
          <img class="llogo" src="static/java-programming.png" alt="">
          <span class="tooltiptext">Programming Language - Java</span>
        </div>

      </div>
      <div class="col-md-4">
        <div class="prolang">
          <img class="llogo" src="static/react.png" alt="">
          <span class="tooltiptext">Javascript Library - React</span>
        </div>
      </div>
    </div>
{%endblock%}